<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsf/html">

<h:head>
	<title>WebService Aplication</title>
</h:head>
<h:body>



	<h:outputStylesheet library="css" name="bootstrap.css"/>
	<h:outputStylesheet library="css" name="style.css"/>
	<div id="header">
		<ui:insert name="header" >
			<ui:include src="header.xhtml" />
		</ui:insert>
	</div>

	<div id="formdiv">
	<h:form id="form">

		<f:view>
			<div class="form-element">
				<label>Username: </label>
				<h:inputText value="#{loginChecker.login}"></h:inputText>
			</div>
			<div class="form-element">
				<label>Password: </label>
				<h:inputSecret value="#{loginChecker.password}"></h:inputSecret>
			</div>
				<h:commandButton value="Submit" action="#{loginChecker.checkClient}" style="width: 155px; margin: 5px" />
		</f:view>
	</h:form>
	</div>

</h:body>
</html>