<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Creation Statistic</title>
</h:head>
<h:body bgcolor="white">
	<h:outputStylesheet library="css" name="bootstrap.css"/>
	<h:outputStylesheet library="css" name="style.css"/>
	<h:outputScript library="js" name="StatisticAdminJs.js" />


	<div id="header">
		<ui:insert name="header" >
			<ui:include src="header.xhtml" />
		</ui:insert>
	</div>

	<f:view>


		<div id="formdiv2">
		<h:form id="form">
			<div class="form-element">
				<label>From</label>
				<h:inputText value="#{reportCreator.firstDate}" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" onkeydown="return false"/>
				</div>
			<div class="form-element">
				<label>TO</label>
				<h:inputText value="#{reportCreator.secondDate}" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this);" onkeydown="return false"/>
			</div>
			<div class="form-element">
			<h:commandButton value="Submit" action="#{reportCreator.getStatistic}" style="width: 240px"/>
			</div>
		</h:form>
		</div>
	</f:view>

</h:body>
</html>